<template name="layout">
    {{#ionBody}}
        {{#ionSideMenuContainer}}
            <!--call sideMenu tmpl-->
            {{> sideMenu}}
            {{#ionSideMenuContent}}
                {{> ionNavBar class="bar-assertive"}}
                {{#ionNavView}}
                    <!--s alert-->
                    {{> sAlert}}

                    <!--dynamic content-->
                    {{> yield}}
                {{/ionNavView}}
            {{/ionSideMenuContent}}
        {{/ionSideMenuContainer}}
    {{/ionBody}}
</template>