<!--top left button-->
<template name="sideMenuLeft">
    {{#contentFor "headerButtonLeft"}}
        <button class="button button-clear pull-left" data-ion-menu-toggle="left">
            {{> ionIcon icon='navicon'}}
        </button>
    {{/contentFor}}
</template>
<!--top right button-->
<template name="sideMenuRight">
    {{#contentFor "headerButtonRight"}}
        <button class="button button-clear pull-right" data-ion-menu-toggle="right">
            {{> ionIcon icon='navicon'}}
        </button>
    {{/contentFor}}
</template>

<template name="sideMenu">
    {{#ionSideMenus}}
        {{#ionSideMenu}}
            <div class="bar bar-header bar-dark">
                <img src="seameo_text.png" alt="" class="full-image">
            </div>
            <div class="content has-header">
                <div class="list">
                    {{> sidebarMenu}}
                </div>
            </div>
        {{/ionSideMenu}}
    {{/ionSideMenus}}
</template>
