<template name="sidebarMenu">
    <a href="/" class="item item-icon-left item-icon-right" data-ion-menu-close
       style="top:55px;">
        {{> ionIcon icon="ion ion-ios-home"}}<span>Home</span>
    </a>
    <a href="/pri7" class="item item-icon-left item-icon-right" data-ion-menu-close
       style="top:55px;">
        {{> ionIcon icon="ion ion-ribbon-a"}}<span>7 Priority Areas</span>
    </a>
    <a href="/centre" class="item item-icon-left item-icon-right" data-ion-menu-close
       style="top:55px;">
        {{> ionIcon icon="ion ion-ios-world"}}<span>SEAMEO Centres</span>
    </a>
    <a href="/about-us" class="item item-icon-left item-icon-right" data-ion-menu-close
       style="top:55px;">
        {{> ionIcon icon="ion ion-ios-people"}}<span>About</span>
    </a>
</template>