<template name="about">
    {{#view params}}
        <div class="list">
            <a href="/what-is-seameo" class="item">What is SEAMEO?</a>
            <a class="item">History</a>
            <a class="item">SEAMEO Charter</a>
            <a class="item">SEAMEO Council</a>
            <a class="item">SEAMEO Member Countries</a>
            <a class="item">SEAMEO Associate Members</a>
            <a class="item">SEAMEO Affiliate Members</a>
            <a class="item">SEAMEO Secretariat</a>
            <a class="item">SEAMEO Partners</a>
            <a class="item">SEAMEO Songs</a>
        </div>
    {{/view}}
</template>

<template name="whatIsSeameo">
    {{#view params}}
        <div class="card">
            <div class="item item-text-wrap">
                <p id="p" style="padding-bottom: 13px;">
                    The Southeast Asian Ministers of Education Organization (SEAMEO) is a regional intergovernmental
                    organization established in 1965 among governments of Southeast Asian countries to promote regional
                    cooperation in education, science and culture in the region.
                </p>
                <p id="p" style="padding-bottom: 13px;">
                    As an organization that has continued to nurture human capacities and explored the peoples’ fullest
                    potential, the SEAMEO maintains its work and aspirations for development with peoples of the region
                    to make lives better in quality and equity in education, preventive health education, culture and
                    tradition, information and communication technology, languages, poverty alleviation and agriculture
                    and natural resources.
                </p>
                <p id="p" style="padding-bottom: 13px;">
                    The organisation's highest policy-making body is the SEAMEO Council, which comprises the 11
                    Southeast Asian education ministers. The SEAMEO Secretariat is located in Bangkok, Thailand.
                </p>
            </div>
        </div>

        <div class="list list-inset">
            <div class="item">
                <div class="row responsive-sm">
                    <div class="col col-50">
                        <p id="p"><img src="flags/Brunei_Darussalam.gif" id="flag">
                            Brunei Darussalam</p>
                    </div>
                    <div class="col col-50">
                        <p id="p"><img src="flags/Cambodia.gif" id="flag">
                            Cambodia</p>
                    </div>
                </div>
                <div class="row responsive-sm">
                    <div class="col col-50">
                        <p id="p"><img src="flags/Indonesia.gif" id="flag">
                            Indonesia</p>
                    </div>
                    <div class="col col-50">
                        <p id="p"><img src="flags/Lao-PDR.gif" id="flag">
                            Lao PDR</p>
                    </div>
                </div>
                <div class="row responsive-sm">
                    <div class="col col-50">
                        <p id="p"><img src="flags/Malaysia.gif" id="flag">
                            Malaysia</p>
                    </div>
                    <div class="col col-50">
                        <p id="p"><img src="flags/Myanmar.gif" id="flag">
                            Republic of the Union of Myanmar</p>
                    </div>
                </div>
                <div class="row responsive-sm">
                    <div class="col col-50">
                        <p id="p"><img src="flags/Philippines.gif" id="flag">
                            Philippines</p>
                    </div>
                    <div class="col col-50">
                        <p id="p"><img src="flags/Singapore.gif" id="flag">
                            Singapore</p>
                    </div>
                </div>
                <div class="row responsive-sm">
                    <div class="col col-50">
                        <p id="p"><img src="flags/Thailand.gif" id="flag">
                            Thailand</p>
                    </div>
                    <div class="col col-50">
                        <p id="p"><img src="flags/Timor-Leste.gif" id="flag">
                            Timor-Leste</p>
                    </div>
                </div>
                <div class="row responsive-sm">
                    <div class="col col-50">
                        <p id="p"><img src="flags/Vietnam.gif" id="flag">
                            Socialist Republic of Vietnam</p>
                    </div>
                </div>
            </div>
        </div>


        <div class="card">
            <div class="item item-divider" style="background-color: dodgerblue;color: white;">Vision
            </div>
            <div class="item item-text-wrap">
                <p id="p">
                    The leading organization for enhancing regional understanding and cooperation in education, science
                    and
                    culture for a better quality of life in Southeast Asia
                </p>
            </div>
            <div class="item item-divider" style="background-color: dodgerblue;color: white;">Mission</div>
            <div class="item item-text-wrap">
                <p id="p">
                    To enhance regional understanding, cooperation and unity of purpose among Member Countries for a
                    better
                    quality of life through the establishment of networks and partnerships, the provision of for among
                    policy makers and experts, and the promotion of sustainable human resource development
                </p>
            </div>
            <div class="item item-divider" style="background-color: dodgerblue;color: white;">Motto</div>
            <div class="item item-text-wrap">
                <p id="p">
                    "Leading through Learning"
                </p>
            </div>
            <div class="item item-divider" style="background-color: dodgerblue;color: white;">SEAMEO 7 Priority Areas
                (2015-2035)
            </div>
            <div class="item item-text-wrap">
                <h2>1. Early Childhood Care and Education</h2>
                <p id="p">
                    Achieving universal pre-primary education by 2030, with particular target on the disadvantaged such
                    as poor children; rural communities; marginalized ethnic and linguistic communities; and children
                    with disabilities benefiting the most.
                </p>
            </div>
            <div class="item item-text-wrap">
                <h2>2. Addressing Barriers to Inclusion</h2>
                <p id="p">
                    Addressing barriers to inclusion and access to basic learning opportunities of all learners through
                    innovations in education delivery and management to provide for the previously inaccessible and
                    vulnerable groups.
                </p>
            </div>
            <div class="item item-text-wrap">
                <h2>3. Ensuring Resiliency in the Face of Emergencies</h2>
                <p id="p">
                    Preparing schools leaders, teachers, students, and local communities in managing and maintaining the
                    delivery of education services during emergencies such as conflicts, extreme weather, and natural
                    disasters.
                </p>
            </div>
            <div class="item item-text-wrap">
                <h2>4. Promoting Technical and Vocational Education and Training</h2>
                <p id="p">
                    Promoting TVET among learners, teachers and parents with more visible investments and relevant
                    curricula that focus on creativity and innovation, with a clear pathway to lifelong learning, higher
                    education and regional labour, skill and learners’ mobility.
                </p>
            </div>
            <div class="item item-text-wrap">
                <h2>5. Revitalising Teacher Education</h2>
                <p id="p">
                    Making teaching a first choice profession through comprehensive, strategic, and practice-based
                    reforms of teacher management and development systems through more professional preparation at
                    pre-service and in-service processes, following an explicit and shared teacher competency framework
                    and a set of standards applicable across the region.
                </p>
            </div>
            <div class="item item-text-wrap">
                <h2>6. Promoting Harmonisation in Higher Education and Research</h2>
                <p id="p">
                    Institutional-level harmonisation taking place with Member Countries investing in strengthening
                    higher education institutions with each institutions determining their most important needs,
                    supported by research, in order to be able to co-ordinate and set quality standards with other
                    institutions.
                </p>
            </div>
            <div class="item item-text-wrap">
                <h2>7. Adopting a 21<sup>st</sup> Century Curriculum</h2>
                <p id="p">
                    Pursuing a radical reform through systematic analysis of knowledge, skills, and values needed to
                    effectively respond to changing global contexts, particularly to the ever-increasing complexity of
                    the Southeast Asian economic, socio-cultural, and political environment, developing teacher imbued
                    with ASEAN ideals in building ASEAN community.
                </p>
            </div>
            <div class="item item-divider" style="background-color: dodgerblue;color: white;">Core Values of SEAMEO
            </div>
            <div class="item item-text-wrap">
                <h2>The Core Values of SEAMEO are:</h2>
                <br>
                <h3><b>Attitude</b></h3>
                <p>1. Respect for Cultural Diversity</p>
                <p>2. Belief in People</p>
                <p>3. Commitment</p>
                <br>
                <h3><b>Character</b></h3>
                <p>4. Integrity</p>
                <p>5. Professionalism</p>
                <p>6. Collaborativeness</p>
                <br>
                <h3><b>Behavior</b></h3>
                <p>7. Striving for Excellence</p>
                <p>8. Proactiveness</p>
                <p>9. Service-orientedness</p>
            </div>

            <div class="item item-divider" style="background-color: dodgerblue;color: white;">Core Competencies</div>
            <div class="item item-text-wrap">
                <p>SEAMEO prides itself in its technical and scientific expertise in various fields of specialisation,
                    its strength in governance and management, partnership, networking and collaborative skills. It sets
                    the pace in research, creativity and innovative programmes in education, science and culture in the
                    region.</p>
                <br>
                <h3>SEAMEO strives for excellence in the following Core Competencies:</h3>
                <br>
                <p><b>1.</b> Technical and scientific expertise in areas of specialisation</p>
                <p><b>2.</b> Governance and management skills</p>
                <p><b>3.</b> Collaborative partnership and networking skills</p>
                <p><b>4.</b> Research, creativity and innovative skills</p>
                <br>
                <h4><b>Strategic Goals</b></h4>
                <br>
                <p><b>1. </b>To develop regional centres of excellence</p>
                <p><b>2. </b>To provide relevant and responsive programmes that address national and regional issues in
                    SEAMEO’s areas of specialization</p>
                <p><b>3. </b>To strengthen the organisational capability to initiate and manage change and development
                    to meet the challenges of globalisation</p>
                <p><b>4. </b>To ensure continued financial viability</p>
                <p><b>5. </b>To promote research and development (R&D) in education, science and culture and improve the
                    dissemination mechanism</p>
                <p><b>6. </b>To enhance collaboration among Member Countries and relevant organisations</p>
                <p><b>7. </b>To be ASEAN’s strategic partner for the advancement of education, science and culture</p>
                <p><b>8. </b>To facilitate the development of harmonized education standards</p>
                <p><b>9. </b>To be a regional leader in the advancement of education, science and culture</p>
                <br>
                <h4><b>Strengths</b></h4>
                <br>
                <p><b>1. </b>The Organization is non-profit and not politically oriented</p>
                <p><b>2. </b>SEAMEO has the largest grouping of country membership (11 Member Countries) in the region
                    to deliver programmes in education</p>
                <p><b>3. </b>Its flexibility and resilience has enabled it to meet the challenges posed by the fast
                    changing political and socio-economic development in the region</p>
                <p><b>4. </b>Its professional and technical programmes and activities that are often conducted on a
                    regular scheduled basis are special and unique</p>
                <p><b>5. </b>The Organization has built a strong infrastructure of extensive physical and equipment
                    resources. Almost every Centre has its own campus, training, research and information dissemination,
                    dormitory facilities to enable it to carry out its functions successfully and with quality</p>
                <p><b>6. </b>Non-tangible resources of the Organization include its vast experiences, information,
                    extensive network of contacts and linkages both nationally and internationally</p>
                <p><b>7. </b>Its activities are focused on the universally appealing theme of human resources
                    development including sustainable development. This helps make SEAMEO attractive to countries
                    wishing to make contributions to sustainable development at the grassroots level in Southeast Asia
                </p>
                <p><b>8. </b>The competence and experience of its personnel, complemented by the technical expertise
                    provided by the SEAMEO Associate Member Countries and partner agencies, accounts for the quality and
                    impact of its programmes and activities</p>
                <p><b>9. </b>The regional characteristic of the Centres’ professional staff also contributes to the
                    richness in experience and competence of every Centre to handle projects that it undertakes. SEAMEO
                    activities are not limited to Member Countries within Southeast Asia but are also open to
                    participants, programmes and activities from outside the region. Interactions in these activities
                    further enrich the experiences of the participants as well</p>
            </div>
            <div class="item item-divider" style="background-color: dodgerblue;color: white;">Funding</div>
            <div class="item item-text-wrap">
                <p>The Operational Budget for the SEAMEO Secretariat is underwritten by the Member Countries whereby the
                    respective annual share is determined by the Asian Development Bank contribution index. The
                    Operational Budget of the TROPMED Central Network likewise is equally shared by the SEAMEO Member
                    Countries.</p>
                <br>
                <p>The Centres’ operational budget, capital and annually recurring costs of each Centre are underwritten
                    by their host countries.</p>
                <br>
                <p>The Special Fund is a central fund administered by the SEAMEO Secretariat in order to support regular
                    programmes and activities of SEAMEO Centres. Such programmes and activities include:</p>
                <br>

                <p><b>*</b>
                    Annual awards given by SEAMEO partners to outstanding personnel in various categories in the
                    fields
                    of education, science and culture in Southeast Asia</p>
                <p><b>* </b>
                    Governing Board Meetings
                </p>
                <p><b>* </b>
                    Personnel exchanges
                </p>
                <p><b>* </b>
                    Project feasibility studies
                </p>
                <p><b>* </b>
                    Research and development projects in education, science and culture
                </p>
                <p><b>* </b>
                    Research fellowships and grants
                </p>
                <p><b>* </b>
                    SEAMEO students exchange programme
                </p>
                <p><b>* </b>
                    Seminars and special conferences
                </p>
                <p><b>* </b>
                    Training and research scholarships
                </p>
                <br>
                <div class="item item-text-wrap">
                    <p id="p">The SEAMEO Educational Development Fund (SEAMEO EDF) is the lifeblood of the Organization and
                        has been established to serve as the central repository of gifts for SEAMEO to support the
                        requirements of Special Funds and other Funds.</p>
                    <br>
                    <p id="p">Other Funds have been established to support specific programmes and projects of various SEAMEO
                        units which are not covered by the Operational and Special Funds.</p>
                </div>
            </div>
        </div>
    {{/view}}
</template>


