<template name="centre">
    {{#view params}}
        <div class="list">
            <div class="item item-divider">
                <img src="centres/map2010-centres.png" class="text-center img-center" style="height: 200px;">
                <div class="card">
                    <div class="item item-text-wrap">
                        <p id="p">
                            SEAMEO has 21 specialist institutions that undertake training and research programs in
                            various
                            fields of education, science, and culture. Each Regional Centre has a Governing Board
                            composed of
                            senior education officials from each SEAMEO Member Country. The Governing Board reviews the
                            Centres’
                            operations and budget and sets their policies and programmes.
                        </p>
                    </div>
                </div>
            </div>
            <a href="/bio" class="item item-thumbnail-left centre-card">
                <img src="/centres/biotrop.png">
                <h2>SEAMEO BIOTROP</h2>
                <p>SEAMEO Regional Centre for Tropical Biology</p>
            </a>
            <a href="/cel" class="item item-thumbnail-left centre-card">
                <img src="/centres/cell.png">
                <h2>SEAMEO CELL</h2>
                <p>SEAMEO Regional Centre for Lifelong Learning</p>
            </a>
            <a href="/cha" class="item item-thumbnail-left centre-card">
                <img src="/centres/chat.png">
                <h2>SEAMEO CHAT</h2>
                <p>SEAMEO Regional Centre for History and Tradition</p>
            </a>
            <a href="/inn" class="item item-thumbnail-left centre-card">
                <img src="/centres/innotech.png">
                <h2>SEAMEO INNOTECH</h2>
                <p>SEAMEO Regional Centre for Educational Innovation and Technology</p>
            </a>
            <a href="/qil" class="item item-thumbnail-left centre-card">
                <img src="/centres/seaqil.png">
                <h2>SEAMEO QITEP in Language</h2>
                <p>SEAMEO Regional Centre for Quality Improvement of Teachers and Education Personnel (QITEP) in
                    Language
                </p>
            </a>
            <a href="/qim" class="item item-thumbnail-left centre-card">
                <img src="/centres/seaqim.png">
                <h2>SEAMEO QITEP in Mathematics</h2>
                <p>SEAMEO Regional Centre for Quality Improvement of Teachers and Education Personnel(QITEP) in
                    Mathematics</p>
            </a>
            <a href="/qis" class="item item-thumbnail-left centre-card">
                <img src="/centres/seaqis.jpg">
                <h2>SEAMEO QITEP in Science</h2>
                <p>SEAMEO Regional Centre for Quality Improvement of Teachers and Education Personnel (QITEP) in
                    Science</p>
            </a>
            <a href="/recf" class="item item-thumbnail-left centre-card">
                <img src="/centres/recfon.png">
                <h2>SEAMEO RECFON</h2>
                <p>SEAMEO Regional Centre for Food and Nutrition</p>
            </a>
            <a href="/recs" class="item item-thumbnail-left centre-card">
                <img src="/centres/recsam.png">
                <h2>SEAMEO RECSAM</h2>
                <p>SEAMEO Regional Centre for Education in Science and Mathematics</p>
            </a>
            <a href="/rel" class="item item-thumbnail-left centre-card">
                <img src="/centres/biotrop.png">
                <h2>SEAMEO RELC</h2>
                <p>SEAMEO Regional Language Centre</p>
            </a>
            <a href="/ret" class="item item-thumbnail-left centre-card">
                <img src="/centres/retrac.jpg">
                <h2>SEAMEO RETRAC</h2>
                <p>SEAMEO Regional Training Centre </p>
            </a>
            <a href="/rih" class="item item-thumbnail-left centre-card">
                <img src="/centres/rihed.jpg">
                <h2>SEAMEO RIHED</h2>
                <p>SEAMEO Regional Centre for Higher Education and Development</p>
            </a>
            <a href="/seam" class="item item-thumbnail-left centre-card">
                <img src="/centres/seamolec.jpg">
                <h2>SEAMEO SEAMOLEC</h2>
                <p>SEAMEO Regional Open Learning Centre</p>
            </a>
            <a href="/sear" class="item item-thumbnail-left centre-card">
                <img src="/centres/searca.jpg">
                <h2>SEAMEO SEARCA</h2>
                <p>SEAMEO Regional Centre for Graduate Study and Research in Agriculture</p>
            </a>
            <a href="/sen" class="item item-thumbnail-left centre-card">
                <img src="/centres/sen.png">
                <h2>SEAMEO SEN</h2>
                <p>SEAMEO Regional Centre for Special Education</p>
            </a>
            <a href="/spa" class="item item-thumbnail-left centre-card">
                <img src="/centres/spafa.jpg">
                <h2>SEAMEO SPAFA</h2>
                <p>SEAMEO Regional Centre for Archaeology and Fine Arts</p>
            </a>
            <a href="/tron" class="item item-thumbnail-left centre-card">
                <img src="/centres/tropmed.jpg">
                <h2>SEAMEO TROPMED Network</h2>
                <p>SEAMEO Tropical Medicine and Public Health Network</p>
            </a>
            <a href="/trom" class="item item-thumbnail-left centre-card">
                <img src="/centres/tropmed.jpg">
                <h2>SEAMEO TROPMED Malaysia</h2>
                <p>SEAMEO TROPMED Regional Centre for Microbiology, Parasitology and Entomology</p>
            </a>
            <a href="/trop" class="item item-thumbnail-left centre-card">
                <img src="/centres/tropmed.jpg">
                <h2>SEAMEO TROPMED Philippines</h2>
                <p>SEAMEO TROPMED Regional Centre for Public Health, Hospital Administration, Environmental and
                    Occupational Health</p>
            </a>
            <a href="/trot" class="item item-thumbnail-left centre-card">
                <img src="/centres/tropmed.jpg">
                <h2>SEAMEO TROPMED Thailand</h2>
                <p>SEAMEO TROPMED Regional Centre for Tropical Medicine</p>
            </a>
            <a href="/voc" class="item item-thumbnail-left centre-card">
                <img src="/centres/voctech.png">
                <h2>SEAMEO VOCTECH</h2>
                <p>SEAMEO Regional Centre for Vocational and Technical Education and Training</p>
            </a>
        </div>
    {{/view}}
</template>

<!--BIOTROP-->
<template name="bio">
    {{#view params}}
        <div class="list">
            <div class="item item-divider">
                <img src="centres/biotrop.png" class="img-center">
            </div>
        </div>
        <div class="card">
            <div class="item item-text-wrap">
                <h2>SEAMEO Regional Centre for Tropical Biology</h2>
                <p id="p">
                    ( Approval of Establishment - 1968 )<br>
                    Located in Bogor, Indonesia, the main activities of the SEAMEO BIOTROP focus on Forest, Pest and
                    Aquatic Biology. It assists SEAMEO Member Countries in developing the expertise to identify,
                    prioritise, analyse and recommend solutions or alternative approaches to critical biological
                    problems in the region, especially those related to sustainable development of tropical ecosystems.
                </p>
            </div>
            <div class="item item-text-wrap">
                <table class="table-centre">
                    <thead>
                    <tr>
                        <td class="th"><i class="ion ion-android-pin"></i> Address</td>
                        <td class="td">Jalan Raya Tajur, Km 6 P O Box 116, Bogor INDONESIA</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="th"><i class="ion ion-android-call"></i> Tel</td>
                        <td class="td">+62 (251) 323-848, 371-654,319-422, 384-379</td>
                    </tr>
                    <tr>
                        <td class="th"><i class="ion ion-android-print"></i> Fax</td>
                        <td class="td">+62 (251) 326-851</td>
                    </tr>
                    <tr>
                        <td class="th"><i class="ion ion-android-mail"></i> Email</td>
                        <td class="td"><a href="mailto:gau@biotrop.org">gau@biotrop.org</a></td>
                    </tr>
                    <tr>
                        <td class="td"><i class="ion ion-earth"></i> Website</td>
                        <td class="td"><a href="http://www.biotrop.org">www.biotrop.org</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    {{/view}}
</template>

