<template name="home">
    {{#view params}}
        <div class="list card">
            <div class="item item-avatar">
                <img src="/image01.jpg">
                <h2>Marty McFly</h2>
                <p>November 05, 1955</p>
            </div>
            <div class="item item-body">
                <img class="full-image" src="/image02.jpg">
                <p>
                    This is a "Facebook" styled Card.
                </p>
                <button class="button button-positive js-info" value="http://www.seameo.org">
                    Info
                </button>


                <button class="button button-calm js-fb" value="http://seatvet.seameo.org">
                    Facebook
                </button>
            </div>
        </div>
    {{/view}}
</template>

