<template name="pri7">
    {{#view params}}
        <div class="list">
            <div class="item item-divider">
                <img src="seameo_7pri/seameo_7pri.png" class="text-center img-center" style="height: 200px;">
            </div>
            <a href="/p1" class="item">1) Early Childhood Care and Education</a>
            <a href="/p2" class="item">2) Addressing Barriers to Inclusion</a>
            <a href="/p3" class="item">3) Resiliency in Face of Emergencies</a>
            <a href="/p4" class="item">4) Promoting Technical and Vocational Education and Training (TVET)</a>
            <a href="/p5" class="item">5) Revitalising Teacher Education</a>
            <a href="/p6" class="item">6) Promoting Harmonisation in Higher Education and Research</a>
            <a href="/p7" class="item">7) Adopting a 21<sup>st</sup> Century Curriculum</a>
        </div>
    {{/view}}
</template>

<!--Pri 1-->
<template name="p1">
    {{#view params}}
        <div class="list">
            <div class="item item-divider">
                <img src="seameo_7pri/pr1.png" class="img-center">
            </div>
        </div>
        <div class="card">
            <div class="item item-text-wrap">
                <p id="p">
                    Achieving universal pre-primary education by 2030, with particular target on the disadvantaged such
                    as poor children; rural communities; marginalized ethnic and linguistic communities; and children
                    with disabilities benefiting the most.
                </p>
                <p>
                    PIC: Pattama Punthawangkul (pattama@seameo.org)
                </p>
            </div>
        </div>
        <div class="card">
            <div class="item item-divider item-text-wrap text-center card-header">
                Priority 1 Implementation timeline as of November 2016
            </div>
            <div class="item item-text-wrap">
                <table class="table-pri">
                    <thead class="tbl-header">
                    <tr>
                        <th colspan="2">Strategic Approaches</th>
                        <th>Responsible Units</th>
                        <th>Timeline</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td rowspan="6" class="v-align">1</td>
                        <td rowspan="6">
                            Develop an enhanced model of health and nutrition package of services in support of ECCE to
                            include children with special needs
                        </td>
                        <td>SEAMEO SEARCA<br>SEAMEO BIOTROP</td>
                        <td>12 April 2016 - ongoing</td>
                    </tr>
                    <tr>
                        <td>SEAMEO RECFON</td>
                        <td>2017</td>
                    </tr>
                    <tr>
                        <td>SEAMEO RECFON</td>
                        <td>2016-2021</td>
                    </tr>
                    <tr>
                        <td>SEAMEO TROPMED Network Centres</td>
                        <td>2016-2021</td>
                    </tr>
                    <tr>
                        <td>SEAMEO TROPMED Philippines</td>
                        <td>2016-2020</td>
                    </tr>
                    <tr>
                        <td>SEAMEO INNOTECH</td>
                        <td>2016-2020</td>
                    </tr>
                    <tr>
                        <td rowspan="2" class="v-align">2</td>
                        <td rowspan="2">
                            Ensure a well-established system for early identification of children with special needs
                        </td>
                        <td>SEAMEO SEN</td>
                        <td>2016-2020</td>
                    </tr>
                    <tr>
                        <td>SEAMEO TROPMED Network Centres</td>
                        <td>2016-2020</td>
                    </tr>
                    <tr>
                        <td rowspan="2" class="v-align">3</td>
                        <td rowspan="2">
                            Develop capacity building
                            programmes for ECCE Leaders
                        </td>
                        <td>SEAMEO RETRAC</td>
                        <td>2016-2020</td>
                    </tr>
                    <tr>
                        <td>SEAMEO INNOTECH</td>
                        <td>Feb - Oct 2016</td>
                    </tr>
                    <tr>
                        <td rowspan="4" class="v-align">4</td>
                        <td rowspan="4">
                            Develop programmes to enhance capacity of ECCE teachers and caretakers
                        </td>
                        <td>SEAMEO INNOTECH</td>
                        <td>2016-2020</td>
                    </tr>
                    <tr>
                        <td>SEAMEO INNOTECH</td>
                        <td>2016-2020</td>
                    </tr>
                    <tr>
                        <td>SEAMEO QITEP in Mathematics (proposed)</td>
                        <td>2016-2020</td>
                    </tr>
                    <tr>
                        <td>SEAMEO TROPMED Network with SEAMEO SEN</td>
                        <td>2016-2020</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    {{/view}}
</template>


