.bar.bar-header.bar-dark img {
    height: 95px;
    width: auto;
    margin-left: 1px;
    margin-top: 2px;
    margin-bottom: 100px;
}

.bar.bar-dark {
    background-color: white;
    border-color: white;
    padding: 0;
}

#p {
    text-align: justify;
}

#flag {
    height: 30px;
    width: auto;
}
