<template name="setting">
    {{#if currentUser}}
        {{#if isInRole 'setting'}}
            <div class="bar bar-header bar-positive nav-bar-block nav-bar-transition-ios nav-bar-direction-forward"
                 data-navbar-container>
                <button class="button button-clear pull-left button-entering button-active" data-ion-menu-toggle="left">
                    <i class="icon ion-navicon"></i>
                </button>
                <h1 class="title">ការកំណត់</h1>
            </div>
            {{#contentFor "headerTitle"}}
                <h1 class="title">ការកំណត់</h1>
            {{/contentFor}}
            {{#ionView}}
                {{#ionContent}}
                    {{#ionList}}
                        {{#ionItem path="company" iconRight=true iconLeft=true}}
                            {{> ionIcon icon="ion ion-ios-home"}}
                            <h2>ក្រុមហ៊ុន</h2>
                            {{> ionIcon icon="ios-arrow-right"}}
                        {{/ionItem}}
                        {{#ionItem path="showStaff" iconRight=true iconLeft=true}}
                            {{> ionIcon icon="ion ion-android-people"}}
                            <h2>បុគ្គលិក</h2>
                            {{> ionIcon icon="ios-arrow-right"}}
                        {{/ionItem}}
                        {{#ionItem path="showItem" iconRight=true iconLeft=true}}
                            {{> ionIcon icon="ion ion-android-cart"}}
                            <h2>សេវាកម្ម</h2>
                            {{> ionIcon icon="ios-arrow-right"}}
                        {{/ionItem}}
                        <!--{{#ionItem path="showJournalItem" iconRight=true iconLeft=true}}-->
                            <!--{{> ionIcon icon="ion ion-ios-pricetags"}}-->
                            <!--<h2>Journal Item</h2>-->
                            <!--{{> ionIcon icon="ios-arrow-right"}}-->
                        <!--{{/ionItem}}-->
                        {{#ionItem path="setRole" iconRight=true iconLeft=true}}
                            {{> ionIcon icon="ion ion-settings"}}
                            <h2>កំណត់សិទ្ធ</h2>
                            {{> ionIcon icon="ios-arrow-right"}}
                        {{/ionItem}}
                    {{/ionList}}
                {{/ionContent}}
            {{/ionView}}
        {{else}}
            {{> checkRoleUser}}
        {{/if}}
    {{else}}
        {{> login}}
    {{/if}}
</template>