<template name="addStaff">
    {{#ionModal customTemplate=true}}
        {{#autoForm collection="Collection.Staff" id="addStaff" type="insert"}}
            <div class="bar bar-header bar-stable" style="background-color: #387ef5;">
                <h2 class="title" style="color: white;">បង្កើតបុគ្គលិកថ្មី</h2>
                <button data-dismiss="modal" class="button button-clear pull-right" style="color:white;">
                    {{> ionIcon icon="ion ion-close-circled"}}
                </button>
            </div>
            <div class="content has-header overflow-scroll">
                {{> afQuickField name='name' placeholder="ឈ្មេាះ"}}
                {{> afQuickField name='gender'}}
                <!--{{> afQuickField name='workDate'}}-->
                <!--{{> afQuickField name='fee' placeholder="Fee" class="js-fee"}}-->
                {{> afQuickField name='baseSalary' placeholder="ប្រាក់ខែគោល" class="js-baseSalary"}}
                {{> afQuickField name='status'}}
                {{> afQuickField name='tel' placeholder="ទូរស័ព្ទ"}}
                <div class="row">
                    <div class="col">
                        <button type="reset" class="button button-block button-stable">
                            {{> ionIcon icon="ion ion-ios-loop-strong"}} កំណត់សារថ្មី
                        </button>
                    </div>
                    <div class="col">
                        <button class="button button-block button-positive">
                            {{> ionIcon icon="ion ion-paper-airplane"}} បញ្ជូន
                        </button>
                    </div>
                </div>
            </div>
        {{/autoForm}}
    {{/ionModal}}
</template>