<template name="showStaff">
    {{#if currentUser}}
        {{#if isInRole 'setting'}}
            <div class="bar bar-header bar-positive nav-bar-block nav-bar-transition-ios nav-bar-direction-forward"
                 data-navbar-container="">
                <button class="button button-clear pull-left button-entering button-active">
                    <a href="/setting">
                        <button class="buttons button button-clear back-button pull-left">

                            <!--{{>ionNavBackButton path="setting"}}-->
                            <i class="icon ion-ios-arrow-back"></i>
                            <span class="back-text">ថយក្រោយ</span>
                        </button>
                    </a>
                </button>
                <h1 class="title">បញ្ជីបុគ្គលិក</h1>
                <button class="button button-clear add-order button-icon icon ion-plus-circled"
                        data-ion-modal="addStaff">
                </button>
            </div>


            {{#ionView}}
                {{#ionContent}}
                    {{#ionList}}
                        {{#if showStaff}}
                            {{#each showStaff}}
                                {{#ionItem iconRight=true path="staffInfo"}}
                                    <h2>ឈ្មេាះ : {{name}}</h2>
                                    {{#if checkSalary baseSalary}}
                                        ប្រាក់ខែគោល : {{numFormat baseSalary '0,0.00 $'}}
                                    {{/if}}
                                    <!--{{#if checkFee fee}}-->
                                        <!--Fee : {{fee}} %-->
                                    <!--{{/if}}-->
                                    <p>ទូរស័ព្ទ : {{tel}}</p>
                                    {{> ionIcon icon="ios-arrow-right"}}
                                {{/ionItem}}
                            {{/each}}
                        {{/if}}
                    {{/ionList}}
                {{/ionContent}}
            {{/ionView}}
        {{else}}
            {{> checkRoleUser}}
        {{/if}}
    {{else}}
        {{> login}}
    {{/if}}
</template>
